<div class="container h-100">
  <div class="htop">
    <h2 class="text-center">{{t "edit.titleBook"}}: {{model.title}}</h2>
    <form class="edit-form" {{action "saveBook" on="submit"}}>
      <div class="form-group row">
        <label for="inputTitle" class="col-sm-2 col-form-label text-right">{{t "edit.fields.title"}}</label>
        <div class="col-sm-10">
          {{input value=model.title class="form-control form-control-lg" id="inputTitle" placeholder=(t "edit.fields.titlePlaceholder")}}
        </div>
      </div>
      <div class="form-group row">
        <label for="inputAuthor" class="col-sm-2 col-form-label text-right">{{t "edit.fields.author"}}</label>
        <div class="col-sm-10">
          {{input value=model.author class="form-control form-control-lg" id="inputAuthor" placeholder=(t "edit.fields.authorPlaceholder")}}
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPagesCount" class="col-sm-2 col-form-label text-right">{{t "edit.fields.pagesCount"}}</label>
        <div class="col-sm-10">
          {{input value=model.pagesCount type="number" class="form-control form-control-lg" id="inputPagesCount" placeholder=(t "edit.fields.pagesCountPlaceholder")}}
        </div>
      </div>
      <div class="form-group row">
        <label for="inputDescriptionURL" class="col-sm-2 col-form-label text-right">{{t "edit.fields.description"}}</label>
        <div class="col-sm-10">
          {{input value=model.descriptionURL type="url" class="form-control form-control-lg" id="inputDescriptionURL" placeholder=(t "edit.fields.descriptionPlaceholder")}}
        </div>
      </div>
      <div class="form-group row">
        <label for="customFile" class="col-sm-2 col-form-label text-right">{{t "edit.fields.image"}}</label>
        <div class="input-group input-group-lg col-sm-10">
          <div class="custom-file">
            {{input
              type="file"
              class="custom-file-input"
              id="customFile"
              lang="ru"
              accept="image/*"
              change=(action "handleFileUpload")
            }}
            <label
              class="custom-file-label form-control-lg placeholder-color"
              for="customFile"
              data-browse={{t "edit.fields.browse"}}
            >
              {{selectedFileName}}
            </label>
          </div>
          <div class="input-group-append">
            <button
              class="btn btn-outline-secondary custom-file-clear"
              type="button"
              disabled={{isFileClearButtonDisabled}}
              {{action "clearFile"}}
            >
              X
            </button>
          </div>
          </div>
      </div>
      <div class="form-group row">
        <label for="inputRating" class="col-sm-2 col-form-label text-right">{{t "edit.fields.rating"}}</label>
        <div class="col-sm-10">
          {{input value=model.rating class="form-control" id="inputRating" placeholder=(t "edit.fields.ratingPlaceholder")}}
        </div>
      </div>
      <div class="form-group row">
        <label for="inputTags" class="col-sm-2 col-form-label text-right">{{t "edit.fields.tags"}}</label>
        <div class="col-sm-10">
          {{input value=model.tags class="form-control" id="inputTags" placeholder=(t "edit.fields.tagsPlaceholder")}}
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12 text-right">
          <button type="submit" class="btn btn-primary btn-lg" {{action "saveBook" model}}>{{t "edit.buttons.save"}}</button>
          <button type="button" class="btn btn-outline-secondary btn-lg" {{action "cancel"}}>{{t "edit.buttons.cancel"}}</button>
        </div>
      </div>
    </form>
  </div>
</div>
