<div class="container h-100">
  <div class="htop">
    <h2 class="text-center">{{t "edit.titleReport"}}: {{model.title}}</h2>
    <form class="edit-form" {{action "saveReport" on="submit"}}>
      <div class="form-group row">
        <label for="inputBookRate" class="col-sm-2 col-form-label text-right">{{t "edit.fields.bookRate"}}</label>
        <div class="col-sm-10">
          {{input value=model.bookRate
            class=(concat "form-control form-control-lg " (if (and showValidations (v-get model 'bookRate' 'isInvalid')) "is-invalid"))
            id="inputBookRate"
            placeholder=(t "edit.fields.bookRatePlaceholder")}}
          {{#if (and showValidations (v-get model 'bookRate' 'isInvalid'))}}
            <div class="invalid-feedback">{{v-get model 'bookRate' 'message'}}</div>
          {{/if}}
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPresentationURL" class="col-sm-2 col-form-label text-right">{{t "edit.fields.presentationURL"}}</label>
        <div class="col-sm-10">
          {{input value=model.presentationURL
            class=(concat "form-control form-control-lg " (if (and showValidations (v-get model 'presentationURL' 'isInvalid')) "is-invalid"))
            id="inputPresentationURL"
            placeholder=(t "edit.fields.presentationURLPlaceholder")}}
          {{#if (and showValidations (v-get model 'presentationURL' 'isInvalid'))}}
            <div class="invalid-feedback">{{v-get model 'presentationURL' 'message'}}</div>
          {{/if}}
        </div>
      </div>
      <div class="form-group row">
        <label for="inputVideoURL" class="col-sm-2 col-form-label text-right">{{t "edit.fields.videoURL"}}</label>
        <div class="col-sm-10">
          {{input value=model.videoURL
            class=(concat "form-control form-control-lg " (if (and showValidations (v-get model 'videoURL' 'isInvalid')) "is-invalid"))
            id="inputVideoURL"
            placeholder=(t "edit.fields.videoURLPlaceholder")}}
          {{#if (and showValidations (v-get model 'videoURL' 'isInvalid'))}}
            <div class="invalid-feedback">{{v-get model 'videoURL' 'message'}}</div>
          {{/if}}
        </div>
      </div>
      <div class="form-group row">
        <label for="inputBook" class="col-sm-2 col-form-label text-right big">{{t "edit.fields.book"}}</label>
        <div class="col-sm-10">
          <select class="selectpicker form-control form-control-lg"
                  id="inputBook"
                  data-live-search="true"
                  data-size="5"
                  title="{{t "edit.fields.bookPlaceholder"}}"
                  onchange={{action "updateBook" value="target.value"}}
                  value={{model.book.id}}
                  >
            {{#each books as |book|}}
              <option selected={{if (eq book.id model.book.id) "selected"}} value={{book.id}}>{{book.title}} ({{book.author}})</option>
            {{/each}}
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputSpeaker" class="col-sm-2 col-form-label text-right big">{{t "edit.fields.speaker"}}</label>
      <div class="col-sm-10">
        <select class="selectpicker form-control form-control-lg"
                id="inputSpeaker"
                data-live-search="true"
                data-size="5"
                title="{{t "edit.fields.speakerPlaceholder"}}"
                onchange={{action "updateSpeaker" value="target.value"}}
                value={{model.speaker.id}}
                >
          {{#each speakers as |speaker|}}
            <option selected={{if (eq speaker.id model.speaker.id) "selected"}} value={{speaker.id}}>{{speaker.lastName}} {{speaker.firstName}} {{speaker.patronymic}}</option>
          {{/each}}
        </select>
      </div>
      </div>
      <div class="form-group row">
        <label for="inputFeedback" class="col-sm-2 col-form-label text-right">{{t "edit.fields.feedback"}}</label>
        <div class="col-sm-10">
          {{textarea value=model.feedback
            class=(concat "form-control form-control-lg " (if (and showValidations (v-get model 'feedback' 'isInvalid')) "is-invalid"))
            id="inputFeedback"
            placeholder=(t "edit.fields.feedbackPlaceholder")}}
          {{#if (and showValidations (v-get model 'feedback' 'isInvalid'))}}
            <div class="invalid-feedback">{{v-get model 'feedback' 'message'}}</div>
          {{/if}}
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12 text-right">
          <button type="submit" class="btn btn-primary btn-lg" {{action "saveReport" model}}>{{t "edit.buttons.save"}}</button>
          <button type="button" class="btn btn-outline-secondary btn-lg" {{action "cancel" model}}>{{t "edit.buttons.cancel"}}</button>
        </div>
      </div>
    </form>
  </div>
</div>